body {
  font-family: Prata, serif;
  margin: 0;
  color: #081c24;
}

body a {
  text-decoration: none;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  margin: 0;
  padding: 0;
  color: #081c24;
}

body header {
  position: fixed;
  width: 250px;
  height: 100%;
  padding: 2rem;
  background-color: #081c24;
  z-index: 999;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
}

body header nav img {
  width: 100px;
  height: auto;
  margin: 1rem auto;
  border: 1px solid #01d277;
  border-radius: 150px;
  padding: 4px;
}

body header nav a {
  margin-top: 2px;
  margin-bottom: 2px;
  color: transparent;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-style: italic;
  -webkit-text-stroke: 1px #01d277;
}

body header footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 12px;
}

body header footer span {
  color: #01d277;
  font-size: 14px;
}

body .page {
  margin-left: 250px;
  padding: 2rem 4rem;
  background-color: #01d277;
  height: 100vh;
}

body .page h1 {
  font-family: "Open Sans", serif;
  -webkit-text-stroke: 1px #01d277;
  color: transparent;
  font-style: italic;
  text-transform: uppercase;
  padding: 1rem 3rem 1rem 1rem;
  background-color: #081c24;
}

body .page main section {
  width: 50%;
  margin-bottom: 3rem;
}

body .page main section .heading {
  margin-right: 2rem;
}

body .page main section .heading h1 {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 1rem;
  border-bottom: 1px solid #081c24;
}

body .page main section .paragraph .stage {
  margin-bottom: 2rem;
}

body .page main section .paragraph .stage h2 {
  font-family: "Open Sans", serif;
  font-size: 1.3rem;
  -webkit-text-stroke: 1px #081c24;
  color: transparent;
  font-style: italic;
  text-transform: uppercase;
  padding-bottom: 4px;
  border-bottom: 1px solid #081c24;
  display: inline-block;
}

body .page main section .paragraph .stage p a {
  color: #081c24;
  padding: 4px 8px;
  background-color: rgba(8, 28, 36, 0.15);
  -webkit-transition: all 150ms;
  transition: all 150ms;
}

body .page main section .paragraph .stage p a:hover {
  background-color: #081c24;
  color: #01d277;
}

body .page main section .paragraph span i {
  font-size: 3rem;
  margin-right: 15px;
}

body .page main section .paragraph span span {
  display: none;
}

body .page.home main {
  position: relative;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
}

body .page.home main div {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

body .page.home main div h1 {
  font-size: 3rem;
}

body .page.home main div a.button {
  padding: 1rem 2rem;
  background-color: #081c24;
  color: #01d277;
  margin: 3rem;
}

body .page.home main div.links a {
  font-family: "Open Sans", serif;
  -webkit-text-stroke: 1px #081c24;
  color: transparent;
  font-style: italic;
  text-transform: uppercase;
  margin: 8px;
  padding-bottom: 4px;
  border-bottom: 1px solid #081c24;
}

body .page.contact main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #081c24;
  padding: 1rem;
  width: 5.5in;
}

body .page.contact main div.top {
  margin-bottom: 1rem;
}

body .page.contact main div.top img {
  width: 100px;
  height: auto;
  display: inline-block;
  margin-right: 1rem;
  border-radius: 100px;
}

body .page.contact main div.top div {
  display: inline-block;
}

body .page.contact main div.top div h1 {
  margin-bottom: 8px;
}

body .page.contact main div.top div .tag {
  font-size: 20px;
  font-weight: 700;
}

body .page.contact main div.bottom span {
  display: inline-block;
  padding: 4px 8px 6px;
  background-color: rgba(8, 28, 36, 0.15);
  margin: 6px 4px;
  font-size: 13px;
}

body .page.contact main div.bottom span a {
  color: #081c24;
}

body .page.contact main div.bottom span a:hover {
  border-bottom: 1px solid #081c24;
}
/*# sourceMappingURL=styles.css.map */